doctype html
html(class="no-js", lang="ru")

    include ../../bemto/bemto
    include ../components/head/head
    include ../components/footer/footer
    include ../components/header/header
    include ../components/catalog-game/catalog-game
    include ../components/turnir/turnir
    include ../components/side-menu/side-menu



    head
        +head(head.defaults)

    body
        |%=symbols=%

        +header()

        main
            .container

                +b.section.section--catalog-games
                    +e.title Каталог игр
                    .catalog-games-wrap
                        -for (var i = 0; i < 8; i++)
                            +catalog-game()

                +side-menu()



                +b.section.section--turnir
                    +e.title Текущий турнир
                    +turnir()

                +b.section.section--content
                    +e.title О нас
                    +e.inner
                        h1 H1 main title
                        p kjoijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij
                        p lojo;ijoi ijiop
                        h2 H2 title
                        ul
                            li text
                            li text
                        p kjoijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij
                        ol
                            li bla
                            li bla

                +b.pre-footer.section
                    +e.text Нам доверяют

        footer
            .container
                +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
