doctype html
html(class="no-js", lang="ru")

    include ../../bemto/bemto
    include ../components/head/head
    include ../components/footer/footer
    include ../components/header/header
    include ../components/now-play/now-play
    include ../components/best-games/best-games
    include ../components/catalog-game/catalog-game
    include ../components/turnir/turnir
    include ../components/banner-month-club/banner-month-club
    include ../components/side-menu/side-menu



    head
        +head(head.defaults)

    body
        |%=symbols=%

        +header()

        main
            .container

                +b.section.section--content.section--content-static
                    +e.title О нас
                    +e.inner
                        h1 H1 main title
                        p kjoijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij
                        p lojo;ijoi ijiop
                        h2 H2 title
                        ul
                            li text
                            li text
                        p kjoijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij joijf j;oj;oij jno;ij
                        ol
                            li bla
                            li bla


                .inner-page
                    +side-menu()

                +b.section.section--banner-month-club.section--banner-month-club-inner
                    +e.title Клуб месяца
                    +banner-month-club()

                +b.section.section--turnir.section--turnir-static
                    +e.title Текущий турнир
                    +turnir()

                +b.section.section--catalog-games.section--catalog-games-wide
                    +e.title Каталог игр
                        +e.A(href='#').title-btn Весь список
                    .catalog-games-wrap
                        -for (var i = 0; i < 8; i++)
                            +catalog-game()






        footer
            .container
                +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
