mixin game(data)
    +b.game
        +e.title Пирамида в игровом автомате Aztec Gold - играть бесплатно без регистрации онлайн
        +e.inner
        +e.btn-wrap
            +e.A(href='#').btn Играть на деньги

