mixin now-play(data)
    +b.now-play
        +e.img-wrap
            +e.IMG(src='static/img/content/club-logo.png')
        +e.right-wrap
            +e.text-wrap
                +e.A(href='#').title Book Of Ra
                +e.number-people 83 игрока
                +e.title-bot Казино "Вулкан"
