
body {
    margin-bottom: 50px;
    font-size: 14px;
    color: #464545;
    font-family: Arial;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    background: #f1f1f7;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    &::after {
        content: '';
        display: table;
        clear: both;
    }
    @media (min-width: 550px) {
        width: 570px;
    }
    @media (min-width: 800px) {
        width: 810px;
    }
    @media (min-width: 1200px) {
        width: 1192px;
    }
}

.section {
    font-size: 0;
    margin-top: 16px !important;
    @include grey-border;

    &--now-play {
        max-width: 300px;
        margin: 0 auto;
        @media (min-width: 550px) {
            max-width: 486px;
        }
        @media (min-width: 800px) {
            max-width: 242px;
            float: left;
        }
        @media (min-width: 1200px) {
            float: right;
        }
    }

    &--last-win {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 16px;
        @media (min-width: 550px) {
            max-width: 245px;
            float: left;
        }
        @media (min-width: 800px) {
            max-width: 242px;
            float: right;
            margin-bottom: 0;
            margin-top: 0 !important;
        }
        @media (min-width: 1200px) {
        }
    }

    &--best-games {
         max-width: 300px;
         margin: 0 auto;
         font-size: 0;
         @media (min-width: 550px) {
             max-width: 580px;
         }
         @media (min-width: 800px) {
             max-width: 538px;
             float: right;
         }
         @media (min-width: 1200px) {
             float: left;
             max-width: 100%;
         }
     }

    &--catalog-games {
        max-width: 300px;
        margin: 0 auto;
        font-size: 0;
        @media (min-width: 550px) {
            max-width: 580px;
        }
        @media (min-width: 800px) {
            max-width: 518px;
            float: left;
        }
        @media (min-width: 1200px) {
            max-width: 876px;
        }
    }

    &--catalog-games-wide {
        @media (min-width: 800px) {
            max-width: 100% !important;
            width: 100% !important;
        }
    }

    &--turnir {
        max-width: 300px;
        margin: 0 auto;
        @media (min-width: 550px) {
            max-width: 550px;
        }
        @media (min-width: 800px) {
            max-width: 262px;
            float: right;
        }
        @media (min-width: 1200px) {
            max-width: 282px;
        }
        &-inner-page {
            @media (min-width: 550px) {
                clear: both;
            }
        }
        &-static {
            @media (min-width: 800px) {
                float: left;
            }
            @media (min-width: 1200px) {
                float: right;
            }
        }

    }

    &--banner-month-club {
        max-width: 300px;
        margin: 0 auto;
        @media (min-width: 550px) {
            float: right;
        }
        @media (min-width: 1200px) {
            max-width: 242px;
        }
    }

    &--banner-month-club-inner {
        @media (max-width: 799px) {
            float: none;
        }
    }

    &--clubs-inner-page {
        margin: 0 auto;
        max-width: 336px;
        @media(min-width: 550px) {
            max-width: none;
        }
        @media (min-width: 800px) {
            max-width: 516px;
            float: left;
        }
        @media (min-width: 1200px) {
            max-width: 854px;
        }
    }

    &--content {
        max-width: 300px;
        margin: 0 auto;
        background: #fff;
        margin-bottom: 16px;
        @media (min-width: 550px) {
            max-width: 580px;
        }
        @media (min-width: 800px) {
            max-width: 100%;
            float: left;
        }
    }

    &--content-static {
        margin-bottom: 0;
        @media (min-width: 800px) {
            max-width: 876px;
            float: left;
        }
    }

    &__inner {
        padding: 20px 10px 20px 16px;
    }

    &__title {
        position: relative;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 600;
        color: #6a7178;
        padding: 16px 0 10px 14px;
        background: #f9fbfd;
        border-bottom: 1px solid #ffb87f;
        border-radius: 3px 3px 0 0;
    }
    &__title-btn {
        position: absolute;
        right: 14px;
        top: 22px;
        font-family: $open-sans;
        font-size: 14px;
        font-weight: 600;
        color: #2888b9;
        text-decoration: none;
        display: none;
        @media (min-width: 800px) {
            display: block;
        }
    }
}

.pre-footer {
    background: #fff url('/static/img/general/doverie.jpg') no-repeat center bottom;
    text-align: center;
    width: 322px;
    height: 140px;
    margin: 0 auto;
    clear: both;

    @media(min-width: 550px) {
        width: 548px;
        height: 64px;
        background: #fff url('/static/img/general/doverie-wide.jpg') no-repeat center bottom;
    }

    @media(min-width: 800px) {
        width: 518px;
        background-size: contain;
    }

    @media (min-width: 1200px) {
        width: 866px;
        height: 94px;
        background: #fff url('/static/img/general/doverie-desc.jpg') no-repeat center bottom;
    }

    &__text {
        text-align: center;
        font-family: $open-sans;
        color: #b5bbc0;
        font-size: 16px !important;
        text-transform: uppercase;
    }
}

.footer {
    margin-top: 16px;
    text-align: center;
    color: rgba(0,0,0,.4);
    font-family: $open-sans;

    p {
        font-size: 12px;
    }

    a {
        color: rgba(0,0,0,.4)
    }
}
