//
//@font-face {
//    font-family: 'CustomFont';
//    src: url('../fonts/Custom-Font.eot');
//    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/Custom-Font.woff') format('woff'),
//         url('../fonts/Custom-Font.svg#custom_font') format('svg');
//    font-weight: 400;       // For normal width. It could has another value
//    font-style: normal;     // Also could has another value
//    }


// Var for using custom font
//$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
//*/


@include font-face('Open Sans', '../fonts/OpenSansRegular', 400, $exts: woff woff2 ttf eot);
@include font-face('Open Sans', '../fonts/OpenSansBold', 700, $exts: woff woff2 ttf eot);
@include font-face('Open Sans', '../fonts/OpenSansSemiBold', 600, $exts: woff woff2 ttf eot);

@include font-face('PT Sans', '../fonts/PTSansRegular', 400, $exts: woff woff2 ttf eot);
@include font-face('PT Sans', '../fonts/PTSansBold', 700, $exts: woff woff2 ttf eot);

@include font-face('PT Sans Narrow', '../fonts/PTSansNarrow', 400, $exts: woff woff2 ttf eot);
@include font-face('PT Sans Narrow', '../fonts/PTSansNarrowBold', 700, $exts: woff woff2 ttf eot);

$open-sans: 'Open Sans', Arial, sans-serif;
$pt-sans: 'PT Sans', Arial, sans-serif;
$pt-sans-narrow: 'PT Sans Narrow', Arial, sans-serif;

