.clubs {
    @include clearfix;
    @media (min-width: 800px) {
        width: 780px;
        margin: 0 auto;
    }
    @media (min-width: 1200px) {
        float: left;
        width: 910px;
    }
    &--inner-page {
        @media (min-width: 800px) {
            width: 516px;
        }
        @media (min-width: 1200px) {
            width: 854px;
        }
    }
    &__title {
        font-family: $pt-sans-narrow;
        font-size: 16px;
        font-weight: 700;
        color: #6a7178;
        margin-bottom: 8px;
    }
    &__inner-wrap {
        max-width: 400px;
        margin: 0 auto;
        @include grey-border;
        @media (min-width: 550px) {
            max-width: none;
            width: 548px;
        }
        @media (min-width: 800px) {
            float: left;
            width: 554px;
        }
        @media (min-width: 1200px) {
            width: 680px;
        }
        &--inner-page {
            @media (min-width: 800px) {
                float: left;
                width: 516px;
            }
            @media (min-width: 1200px) {
                width: 854px;
            }
        }
    }
    &__one:nth-child(odd) {
        background: #f4f8fb;
    }
    &__one:nth-child(even) {
        background: #fff;
    }
    &__one {
        padding: 15px;
        @include clearfix;
        @media (min-width: 550px) {
            padding: 15px 20px 15px 32px;
        }
        &--inner-page {
            @media (min-width: 800px) {
                padding: 15px 9px 15px 19px;
            }
        }
    }
    &__one:last-child {
        border-radius: 0 0 3px 3px;
    }
    &__img-wrap {
        float: left;
        @media (min-width: 550px) {
            margin-right: 32px;
        }
        @media (min-width: 1220px) {
            margin-right: 42px;
        }
    }
    &__right-wrap {
        float: right;
        @media (min-width: 550px) {
            float: left;
        }
    }
    &__text-wrap {
        @media (min-width: 550px) {
            display: inline-block;
        }
    }
    &__text {
        display: inline-block;
    }
    &__club-name {
        display: inline-block;
        font-family: $open-sans;
        font-size: 14px;
        color: #2888b9;
        font-weight: 600;
        text-decoration: none;

        &--inner-page {
            @media (min-width: 1200px) {
                font-size: 18px;
                font-weight: 600;
                padding-top: 20px;
                margin-right: 25px;
            }
        }
    }
    &__text-inner {
        @media (min-width: 1200px) {
            display: inline-block;
            vertical-align: top;
            margin-left: 70px;
            margin-right: 25px;

            .clubs__sum {
                font-size: 26px;
                font-weight: 600;
            }
        }
    }
    &__static-text {
        color: #696969;
        font-family: $open-sans;
        font-weight: 600;
        font-size: 12px;
    }
    &__sum {
        font-family: $open-sans;
        color: #ff8400;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }
    &__circle {
        margin-left: 20px;
        font-family: $pt-sans-narrow;
        font-size: 19px;
        line-height: 40px;
        padding-left: 8px;
        text-transform: uppercase;
        color: #242835;
        display: inline-block;
        vertical-align: top;
        @include sprite-mixin-template($circle-for-number);
        @media (min-width: 550px) {
            margin-top: 10px;
            margin-right: 12px;
        }
        @media (min-width: 1200px) {
            margin-right: 60px;
            margin-left: 42px;
        }

        &--inner-page {
            background: #f9d96e;
            border-radius: 50%;
            @media (min-width: 1200px) {
                margin-right: 80px;
            }
        }
    }
    &__btn-wrap {
        @media (min-width: 550px) {
            display: inline-block;
            vertical-align: top;
        }
    }
    &__link {
        @include btn1;
        padding: 10px 40px;
        margin-top: 6px;
    }
}

.top-club-img {
    position: relative;
    width: 306px;
    height: 144px;
    margin: 0 auto;
    background: url('../img/content/vulkan-top-mob.png');
    @media (min-width: 550px) {
        width: 548px;
        height: 122px;
        background: url('../img/content/vulkan-top-mob2.png');
    }
    @media (min-width: 800px) {
        float: left;
        width: 226px;
        height: 352px;
        background: url('../img/content/vulkan-top-tablet-desc.png');
    }
}

.top-club-btn {
    display: inline-block;
    padding: 10px 34px;
    margin: 92px 0 0 52px;
    color: #fff;
    background: #55c412;
    text-transform: uppercase;
    font-family: $open-sans;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 1px 1px #48a90f;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 #000;

    @media (min-width: 550px) {
        padding: 12px 26px;
        margin: 0;
        position: absolute;
        right: 10px;
        bottom: 18px;
    }

    @media (min-width: 800px) {
        right: 16px;
        bottom: 82px;
    }
}
