mixin best-games(data)
    +b.best-games
        +e.A(href='#').title Crazy Monkey
        +e.inner
            +e.img-wrap
                +e.IMG(src='static/img/content/img-best-game.jpg')
                +e.stars
            +e.title-wrap
                +e.A(href='#').title-bottom Crazy Monkey
                +e.stars-bottom
            +e.btn-wrap
                +e.A(href='#').btn2 Играть
                +e.A(href='#').btn1 Демо
