mixin last-win(data)
    +b.last-win
        +e.img-wrap
            +e.IMG(src='static/img/content/club-logo.png')
        +e.right-wrap
            +e.text-wrap
                +e.A(href='#').title Vulkan Casino
                +e.number-people Выиграш за спин
                +e.title-bot 1 300 RUB


