mixin header(data)
    +b.HEADER.header
        .container
            +b.A(href="#").main-logo
                +e.IMG(src="static/img/content/logo.png").img
            +b.nav
                +e.DIV.mob-text
                    span Меню
                    +e.SPAN.open
                +e.NAV.content
                    +e.UL.list
                        +e.LI.item Меню
                        +e.LI.item
                            +e.A(href="#").link Рейтинг клубов
                        +e.LI.item
                            +e.A(href="#").link Каталог игр
                        +e.LI.item
                            +e.A(href="#").link Новости
                    +e.menu-bot-logo
                        img(src="static/img/content/logo.png")
                +e.close-wrap
                    +e.SPAN.close



