.header {
    margin-bottom: 16px;
    padding: 15px 0;
    background: #2b3843;
}

.header .container::after {
    content: '';
    display: table;
    clear: both;
}

.main-logo, .nav {
    display: inline-block;
}

.nav {
    float: right;
    color: rgba(255,255,255,.5);
    padding-top: 20px;
    &__mob-text {
        font-family: $pt-sans;
        text-transform: uppercase;
    }

    &__content {
        position: absolute;
        z-index: 1000;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        padding-bottom: 120px;
        background-image: linear-gradient(#303d48, #202d36);
        font-family: $pt-sans-narrow;
        &--open {
            display: block;
        }
    }
    &__menu-bot-logo {
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translate(-50%, 0);
        img {
            filter: grayscale(100%);
        }
    }
    &__link {
        color: #fff;
    }
    &__open {
        position: relative;
        display: inline-block;
        width: 22px;
        height: 2px;
        background: rgba(255,255,255,.5);
        margin-left: 8px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 22px;
            height: 2px;
            background: rgba(255,255,255,.5);
            top: -6px;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 22px;
            height: 2px;
            background: rgba(255,255,255,.5);
            top: -12px;
        }
    }
    &__close-wrap {
        position: absolute;
        z-index: 1001;
        width: 30px;
        height: 30px;
        right: 22px;
        top: 26px;
        display: none;
        &--show {
            display: block;
        }
    }
    &__close {
        position: absolute;
        top: 14px;
        width: 28px;
        height: 2px;
        background: rgba(255,255,255,.5);;
        z-index: 1001;
        transform: rotate(45deg);
        &::after {
            content: '';
            display: block;
            width: 28px;
            height: 2px;
            background: rgba(255,255,255,.5);
            z-index: 1001;
            transform: rotate(90deg);
        }
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item {
        font-family: $open-sans;
        font-size: 18px;
        color: #fff;
        background-image: linear-gradient(#303d48, #202d36);
        padding: 20px;
        transition: all .3s;
        &:hover {
            background: #31404c;
        }
        &--active {
            background-image: linear-gradient(#202d36, #303d48);
            .nav__link {
                color: #e2a308;
            }
        }

    }
    &__item:first-child {
        background: #28353f;
        padding: 32px 20px;
        font-family: $pt-sans-narrow;
        font-size: 20px;
        text-transform: uppercase;
        color: rgba(255,255,255,.5);
    }
    &__link {
        text-decoration: none;
    }
}

@media(min-width: 550px) {
    .header {
        background: none;
    }


    .nav {
        float: none;
        width: 100%;
        &__content {
            position: static;
            display: block;
            padding-bottom: 0;
        }
        &__item:first-child, &__mob-text, &__close, .nav__menu-bot-logo {
            display: none;
        }
        &__item {
            display: inline-block;
            padding: 20px 10px;
        }
        &__link {
            text-transform: uppercase;
        }

    }
}
