mixin catalog-game(data)
    +b.catalog-game
        +e.A(href='#').title Book Of Ra
        +e.inner
            +e.img-wrap
                +e.IMG(src='static/img/content/img-catalog-game.jpg')
                +e.stars
            +e.title-wrap
                +e.A(href='#').title-bottom Book Of Ra
                +e.stars-bottom
            +e.btn-wrap
                +e.A(href='#').btn2 Играть
                +e.A(href='#').btn1 Демо
