
.catalog-games-wrap {
    font-size: 0;
    background: #fff;
    @media (min-width: 550px) {
        text-align: center;
    }
}

.catalog-game {
    padding: 12px 14px 16px 14px;
    border-bottom: 1px solid #dfe0e6;
    background: #fff;
    max-width: 300px;
    &:last-child {
        border-radius: 0 0 3px 3px;
    }
    &:nth-child(4n) {
        @media (min-width: 1200px) {
            margin-right: 0 !important;
        }
    }
    @media (min-width: 550px) {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        width: 180px;
        margin-top: 16px;
    }
    @media (min-width: 800px) {
        width: 172px;
        padding: 0 10px;
    }
    @media (min-width: 1200px) {
        width: 218px;
    }
    &__title {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 8px;
        font-family: $open-sans;
        font-weight: 600;
        font-size: 16px;
        color: #2888b9;
        @media (min-width: 550px) {
            display: none;
        }
    }
    &__title-wrap {
        display: none;
        text-align: left;
        @media (min-width:550px) {
            display: block;
        }
    }
    &__title-bottom {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 2px;
        font-family: $open-sans;
        font-weight: 600;
        font-size: 16px;
        color: #2888b9;
    }
    &__stars-bottom {
        display: none;
        margin-bottom: 4px;
        width: 100%;
        height: 24px;
        padding: 4px 0 4px 4px;
        bottom: 0;
        background: rgba(0,0,0,.6);
        &::after {
            content: '';
            display: inline-block;
            @include sprite-mixin-template($five-stars);
        }
        @media(min-width: 550px) {
            display: block;
            background: none;
        }
    }
    &__inner {
        @include clearfix;
    }
    &__img-wrap {
        position: relative;
        float: left;
        width: 130px;
        height: 90px;

        @media (min-width: 550px) {
            float: none;
            width: 160px;
            height: 110px;
        }
        @media (min-width: 800px) {
            width: 154px;
            height: 106px;
            img {
                width: 154px;
                height: 106px;
            }
        }
        @media (min-width: 1200px) {
            margin: 0 auto;
            float: none;
            width: 186px;
            height: 132px;
            img {
                width: 186px;
                height: 132px;
                object-fit: cover;
            }
        }
    }
    &__stars {
        position: absolute;
        width: 100%;
        height: 24px;
        padding: 4px 0 4px 4px;
        bottom: 0;
        background: rgba(0,0,0,.6);
        &::after {
            content: '';
            display: inline-block;
            @include sprite-mixin-template($five-stars);
        }
        @media (min-width: 550px) {
            display: none;
        }
    }
    &__btn-wrap {
        float: right;
        @media (min-width: 550px) {
            float: none;
            @include clearfix;
        }
    }
    &__btn2, &__btn1 {
        display: block !important;
        padding: 8px 0;
        width: 124px;
        text-align: center;
        @media (min-width: 550px) {
            width: 76px;
            padding: 4px 0;
        }
        @media (min-width: 800px) {
            width: 70px;
        }
        @media (min-width: 1200px) {
            width: 88px;
        }
    }
    &__btn2 {
        @include btn2;
        margin-bottom: 12px;
        @media (min-width: 550px) {
            float: left;
            margin-right: 10px;
        }
    }
    &__btn1 {
        @include btn1;
        @media (min-width: 550px) {
            float: left;
        }
    }
}
