mixin side-menu(data)
    +b.side-menu
        +e.UL.list
            +e.LI.item
                +e.A(href='#').link LAlalala
            +e.LI.item
                +e.A(href='#').link LAlalala
            +e.LI.item
                +e.A(href='#').link LAlalala
